* {
  font-family: JetBrainsMono Nerd Font, monospace;
  color: #C0CAF5;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: #1A1B26;
  padding: 10px;
}

#workspaces button {
  background: transparent;
  color: #C0CAF5;
  border-radius: 0px;
  padding: 4px 8px;
}

#workspaces button:hover {
  background: #414868;
  color: #1A1B26;
}

#workspaces button.active {
  background: #F7768E;
  color: #1A1B26;
}

#tray,
#gamemode,
#battery,
#network,
#pulseaudio,
#cpu,
#bluetooth,
#memory,
#temperature,
#privacy,
#clock,
#mpris,
#custom-notifications {
  padding: 0 15px;
}

#tray:hover {
  background: none;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#cpu:hover,
#bluetooth:hover,
#memory:hover,
#temperature:hover,
#gamemode:hover,
#mpris:hover,
#custom-notifications:hover {
  background: #414868;
  border-radius: 0px;
}

#mpris.playing {
  color: #9ECE6A;
}

#mpris.paused {
  color: #E0AF68;
}
