@import url("../akira_style/style.css");

* {
  font-family: JetBrainsMono Nerd Font, monospace;
  color: @white;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: @background;
  border: 1px solid @white;
}

#workspaces {
  margin: 5px;
}

#workspaces button {
  background: transparent;
  color: @white;
  border-radius: 0px;
  padding: 4px 8px;
}

#workspaces button:hover {
  background: @gray;
}

#workspaces button.active {
  background: @red;
  color: @background;
}

#tray,
#gamemode,
#battery,
#network,
#pulseaudio,
#cpu,
#bluetooth,
#memory,
#temperature,
#privacy,
#clock,
#mpris,
#custom-notifications {
  padding: 0 12px;
  margin: 5px;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#cpu:hover,
#bluetooth:hover,
#memory:hover,
#temperature:hover,
#gamemode:hover,
#mpris:hover,
#custom-notifications:hover {
  background: @gray;
  border-radius: 0px;
}

#tray:hover {
  background: none;
}

#mpris.playing {
  color: @green;
}

#mpris.paused {
  color: @yellow;
}
