@define-color background #1A1B26;
@define-color foreground #C0CAF5;

@define-color red #F7768E;
@define-color orange #E0AF68;
@define-color yellow #E5C07B;
@define-color green #9ECE6A;
@define-color cyan #7DCFFF;
@define-color blue #7AA2F7;
@define-color magenta #9D7CD8;
@define-color white #C0CAF5;
@define-color gray #414868;
@define-color black #1A1B26;
