@import url("/home/guilherme/.config/akira_style/style.css");

window {
  background-color: @background;
  color: @white;
  border: 2px solid @red;
  font-family: JetBrainsMono Nerd Font Mono, monospace;
  font-size: 14px;
  font-weight: bold;
}

#input {
  background-color: @background;
  color: @white;
  border: 2px solid @red;
  border-radius: 0px;
  padding: 5px;
}

#input:focus {
  border-color: @cyan;
}

#entry {
  background-color: transparent;
  padding: 5px;
  margin: 10px;
}

#entry:selected {
  background-color: @red;
  border-radius: 0px;
}

scrollbar {
  background-color: @background;
}

scrollbar slider {
  background-color: @gray;
  border-radius: 0px;
}

scrollbar slider:hover {
  background-color: @gray;
}

image {
  margin: 10px;
}
