[user]
  email = guibperes@proton.me
  name = Guilherme Beidaki Peres
[alias]
  a = add
  ps = push
  pl = pull
  l = log
  c = commit -m
  s = status
  co = checkout
  b = branch
  d = diff
[commit]
  gpgSign = true
